/*
    File: index.css
    Name: Henry Pacheco Cachon
    Class: CS325, January 2022
    Lab: 07
    Due: 17 January 2022

    Made using the grid layout :)
*/

* {
    background-color: dodgerblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
    color: white;
}

.wrapper{
    display: grid;
    grid-template: 1fr;
    justify-content: center;
}

.container{
    display: grid;
    grid-template: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 50px;
    

    border: 1px solid white;
    padding: 10px;
}

h1#form-name {
    background-color: darkblue;
    width: 100%;
    height: 50px;

    text-align: center;
    font-size: 22pt;

    grid-row: 1;
    grid-column: 1/4;
}

input[type=submit] {
    background-color: limegreen;
    color: white;
    border: none;

    transition-duration: 0.4s;
}

input[type=submit]:hover {
    background-color: white;
    color: limegreen;
}

input[type=reset] {
    background-color: grey;
    color: white;
    border: none;

    transition-duration: 0.4s;
}

input[type=reset]:hover {
    background-color: white;
    color: black;
}

button#hide{
    background-color: lightblue;
    color: white;
    border: none;

    transition-duration: 0.4s;
}

button#hide:hover {
    background-color: white;
    color: lightblue;
}

form{
    background-color: darkblue;
}

form div{
    background-color: darkblue;
}

input{
    background-color: white;
    color: black;
}

label#email_label:after {
    content: " *";
    color: red;
}

label#password_label:after {
    content: " *";
    color: red;
}

div#required{
    grid-row: 2;
    grid-column: 1/4;
    color: red;
}

div#required ul{
    background-color: darkblue;
    color: red;
}

div#required ul li {
    background-color: darkblue;
    color: red;
}

div#first-name {
    grid-row: 3;
    grid-column: 1;
}

div#last-name{
    grid-row: 3;
    grid-column: 2;
}

div#address {
    grid-row: 3;
    grid-column: 3;
}

div#email {
    grid-row: 4;
    grid-column: 1;
}

div#password {
    grid-row: 4;
    grid-column: 2;
}

div#password-prompt {
    grid-row: 4;
    grid-column: 3;
}

div#radio-choice { 
    grid-row: 5;
    grid-column: 1;
}

div#favorite-food {
    grid-row: 5;
    grid-column: 2;
}

div#email-question{
    grid-row: 5;
    grid-column: 3;
}

div#submit-reset{
    grid-row: 6;
    grid-column: 3/4;
}

label{
    background-color: darkblue;
}


option{
    background-color: white;
    color: black;
}

p {
    background-color: darkblue;
    color: yellow;
}

ul {
    background-color: darkblue;
    color: yellow;
}

li {
    background-color: darkblue;
    color: yellow;
}

button{
    background-color: white;
    color: black;
}